<!DOCTYPE html>
<html lang="en">
<head>
<!--
RAND CAPITAL ú™™ú
-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- Site title
   ================================================== -->
	<title>Rand Capital - Gino </title>

	<!-- Bootstrap CSS
   ================================================== -->
	<link rel="stylesheet" href="/../css/vendor/bootstrap.min.css">

	<!-- Animate CSS
   ================================================== -->
	<link rel="stylesheet" href="/../css/vendor/animate.min.css">

	<!-- Font Icons CSS
   ================================================== -->
	<link rel="stylesheet" href="/../css/vendor/font-awesome.min.css">
	<link rel="stylesheet" href="/../css/vendor/ionicons.min.css">

	<!-- Main CSS
   ================================================== -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/vendor/normalize.css" />


	<!-- Google web font
   ================================================== -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

</head>
<body>


<!-- Preloader section
================================================== -->
<div class="preloader">

	<div class="sk-spinner sk-spinner-pulse"></div>

</div>


<!-- Navigation section
================================================== -->
<div class="nav-container">
   <nav class="nav-inner transparent">

      <div class="navbar">
         <div class="container">
            <div class="row">

              <div class="brand">
                <a href="index.html">Rand Capital </a>
              </div>

              <div class="navicon">
                <div class="menu-container">

                  <div class="circle dark inline">
                    <i class="icon ion-navicon"></i>
                  </div>

                  <div class="list-menu">
                    <i class="icon ion-close-round close-iframe"></i>
                    <div class="intro-inner">
											<ul id="nav-menu">
												<li><a href="/">Home</a></li>
													<li><a href="/about">About</a></li>
													<li><a href="/solutions">Solutions</a></li>
												<li><a href="/contact">Contact</a></li>
												<li><a href="/faqs">FAQs</a></li>
											</ul>
                    </div>
                  </div>

                </div>
              </div>

            </div>
         </div>
      </div>

   </nav>
</div>


<!-- Header section
================================================== -->
<section id="header" class="header-two">
	<div class="container">
		<div class="row">

			<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
           		 <div class="header-thumb">
              		 <h1 class="wow fadeIn" data-wow-delay="1.6s">Meet Gino Barbaro</h1>
              		 <h3 class="wow fadeInUp" data-wow-delay="1.9s">Principal</h3>
           		 </div>
			</div>

		</div>
	</div>
</section>


<!-- Bio Section
================================================== -->
<section id="single-project">
   <div class="container">
      <div class="row">

         <div class="wow fadeInUp col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-4" data-wow-delay="2.3s">
			<div class="project-info">
				<h4>Learn More</h4>
				<a href="www.jakeandgino.com"><p>jakeandgino.com</p></a>
			</div>
			<div class="project-info">
				<h4>Years of Experience</h4>
				<hp>15 Years</p>
			</div>
			<!-- <div class="project-info">
				<h4>Category</h4>
				<p>Branding</p>
			</div> -->
		</div>

		<div class="wow fadeInUp col-md-7 col-sm-7" data-wow-delay="2.6s">
			<p>Gino Barbaro owned and operated a restaurant for over twenty years before transitioning full-time into multifamily real estate. He’s been investing in real estate for over 15 years and grown his multifamily portfolio to nearly 800 units with his partners. </p>
			<p> His passion lies in running the client relations for Rand Partners, along with underwriting deals and exploring new opportunities in the national market. He has also created a real estate education company called Jake & Gino, written two best-selling books, one in real estate and one in cooking, co-hosts the number one multifamily podcast on iTunes, and empowers individuals to take control of their lives through his coaching business. Gino is a graduate of Fairfield University and IPEC (Institute for Professional Excellence in Coaching). He currently lives in Florida with his wife and six children.</p>
			<img src="images/gino.png" class="img-responsive" alt="Gino Barbaro">
		</div>

      </div>
   </div>
</section>


<!-- Footer section
================================================== -->
<footer>
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12">
				<p class="wow fadeInUp"  data-wow-delay="0.3s">Copyright © 2018 Rand Capital LLC- Commercial Real Estate Debt & Equity Solutions 808-489-2473</p>
				<ul class="social-icon wow fadeInUp"  data-wow-delay="0.6s">
					<li><a href="#" class="fa fa-facebook"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-youtube"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
				</ul>
			</div>

		</div>
	</div>
</footer>



<!-- Javascript
================================================== -->
<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
<script src="../../js/vendor/bootstrap.min.js"></script>
<script src="../../js/vendor/wow.min.js"></script>
<script src="../../js/custom.js"></script>

</body>
</html>
