<!DOCTYPE html>
<html lang="en">
<head>
<!--

	RAND CAPITAL ú™™ú


-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- Site title
   ================================================== -->
	<title>Rand Capital- FAQS</title>

	<!-- Bootstrap CSS
   ================================================== -->
	<link rel="stylesheet" href="/../css/vendor/bootstrap.min.css">

	<!-- Animate CSS
   ================================================== -->
	<link rel="stylesheet" href="/../css/vendor/animate.min.css">

	<!-- Font Icons CSS
   ================================================== -->
	<link rel="stylesheet" href="/../css/vendor/font-awesome.min.css">
	<link rel="stylesheet" href="/../css/vendor/ionicons.min.css">

	<!-- Main CSS
   ================================================== -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/vendor/normalize.css" />

	<link rel="stylesheet" type="text/css" href="../css/fragments.css" />
	<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

	<!-- Google web font
   ================================================== -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

</head>
<body>


	<!-- Preloader section
	================================================== -->
	<div class="preloader">

		<div class="sk-spinner sk-spinner-pulse"></div>

	</div>


	<!-- Navigation section
	================================================== -->

	<div class="nav-container">
		<nav class="nav-inner transparent">

		   <div class="navbar">
		      <div class="container">
		         <div class="row">

		           <div class="brand">
		             <a href="index.html">Rand Capital</a>
		           </div>

		           <div class="navicon">
		             <div class="menu-container">

		               <div class="circle dark inline">
		                 <i class="icon ion-navicon"></i>
		               </div>

		               <div class="list-menu">
		                 <i class="icon ion-close-round close-iframe"></i>
		                 <div class="intro-inner">
											 <ul id="nav-menu">
		                     <li><a href="/">Home</a></li>
		                       <li><a href="/about">About</a></li>
													 <li><a href="/solutions">Solutions</a></li>
		                     <li><a href="/contact">Contact</a></li>
		                     <li><a href="/faqs">FAQs</a></li>
		                   </ul>
		                 </div>
		               </div>

		             </div>
		           </div>

		         </div>
		      </div>
		   </div>

		</nav>

	</div>

	<!-- Header section
	================================================== -->
	<section id="header" class="header-five">
		<div class="container">
			<div class="row">

				<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
					<div class="header-thumb">
						<h1 class="wow fadeIn" data-wow-delay="0.6s">General </h1>
						<h3 class="wow fadeInUp" data-wow-delay="0.9s">FAQs</h3>
					</div>
				</div>

			</div>
		</div>
	</section>


	<!-- Single Post section
	================================================== -->
	<section id="single-post">
		<div class="container">
			<div class="row">

				<div class="wow fadeInUp col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10" data-wow-delay="2.3s">
					<div class="blog-thumb">
						<h1>FAQS</h1>
						<div id="accordion">
							<div class="card">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
											I'm ready to start looking for a deal in my market, at what point in the process should I contact you?
										</button>
									</h5>
								</div>

								<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
										<p>As you soon as you schedule the property tour with the broker. You'll love the confidence you have as you walk the property after we determine which type of loan will close the deal.</p>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header" id="headingTwo">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											I've found a property that I want to buy, how long is the process?
										</button>
									</h5>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
									<div class="card-body">
										<p>All loans require an appraisal and other third party reports.  These reports take some time. It usually takes 30-60 days to get from application to closing.</p>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header" id="headingThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											I want to get a quote for my loan, is there any obligation?
										</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
									<div class="card-body">
										<p>Absolutely not, we do not charge any application or processing fees for our services.</p>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header" id="headingFour">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											I am a seasoned landlord and have always done busienss with my local bank. Can you offer me something that they can't?
										</button>
									</h5>
								</div>
								<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
									<div class="card-body">
										<p>Local banks are no longer the only source of mortgage capital. In fact, local banks are often limited to short terms loans of five to seven years. We have many alternative sources of capital available, including: insurance companies, pension funds, agency lenders, government lenders, Wall Street conduits, and credit unions to choose from. With our wide variety of choices, we can usually offer terms that are far superior to your local bank. </p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
</section>

<!-- Footer section
================================================== -->
<footer>
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12">
				<p class="wow fadeInUp"  data-wow-delay="0.3s">Copyright © 2018 Rand Capital LLC- Commercial Real Estate Debt & Equity Solutions 808-489-2473</p>
				<ul class="social-icon wow fadeInUp"  data-wow-delay="0.6s">
					<li><a href="#" class="fa fa-facebook"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-youtube"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
				</ul>
			</div>

		</div>
	</div>
</footer>

<!-- Javascript
================================================== -->
<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
<script src="/../js/vendor/bootstrap.min.js"></script>
<script src="/../js/vendor/isotope.js"></script>
<script src="/../js/vendor/imagesloaded.min.js"></script>
<script src="/../js/vendor/wow.min.js"></script>
<script src="/../js/custom.js"></script>

</body>
</html>
